body{
    background-image: url(https://images.pexels.com/photos/194094/pexels-photo-194094.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size:cover
}



.winter{
    text-align: center;
    margin-top: 40px ; 
}


.fall{
 text-align: center;
    margin-top: 100px;
}

.okay{
    margin-left:50px;
    margin-top:30px;
}
